body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1, h2 {
    color: #333;
}
#city-input {
    margin: 20px 0;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#city-name {
    font-size: 24px;
    color: #333;

}
#weather-description {
    color: #666;
}
#weather-data {
    color: #777;
}